@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,500');
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#333;
	transition: background-color 0.5s ease, padding 0.5s ease;
}

html, body{
	width: 100%;
	max-width: 100%;
	height: 100vh;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #34495E;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	line-height: initial;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#wrapper{
	position: absolute;
	width: 100%;
	max-width: 100%;
}

#top-menu{
	position: fixed;
	width: 100%;
	z-index: 9999;
}

#top-menu > .navbar{
	height: auto;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 0;
	border-radius: 0;
	border: none;
	background-color: transparent;
	color: #FFF;
}

#top-menu > .scrolled{
	background-color: rgba(255,255,255,1);
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#top-menu > .scrolled *{
	color: #333!important;
}

#top-menu > .navbar .container-fluid{
	padding: 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  /*height: 100%;*/
  padding: 15px;
  /*width: 30px;*/
}

.logo-brand .navbar-brand>img {
  padding: 7px 15px;
}

#top-menu .navbar-brand{
	margin: 0;
	font-weight: 700;
	font-size: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
}

#top-menu .nav > li > a{
	color: #fff;
	font-weight: 300;
	letter-spacing: .5px;
	font-weight: 500;
}

@media(max-width: 992px){
	#top-menu > .navbar{
		padding-left: 45px;
	}
}
@media(max-width: 768px){
	#top-menu > .navbar{
		padding-left: 35px;
	}

	#top-menu .navbar-brand{
		font-size: 22px;
	}
}

.section{
	position: relative;
}

#sec-footer{
	padding: 50px;
	padding-bottom: 30px;
	background-color: #333;
}

.sitemap{
	padding-left: 25px;
	margin-bottom: 20px;
}

.sitemap > li{
	display: block;
	list-style: none;
	font-weight: 300;
	font-size: 9pt;
	color: #FFF;
}

.sitemap > li > a{
	color: #FFF;
}

.sitemap > li > .fa{
	display: inline-block;
	color: #FFF!important;
	font-size: 16pt;
	margin-right: 10px;
	margin-top: 10px;
}

.sitemap-title *{
	margin-bottom: 8px;
	font-size: 12pt;
}

.copyright{
	display: block;
	clear: both;
	width: 100%;
	text-align: left;
	padding-top:10px;
	font-weight: 300;
	border-top: 1px #CCC solid;
}

.copyright, .copyright *{
	color: #FFF;
}

.pengumuman{
	position: fixed;
	width: 100%;
	padding: 2px 10px;
	padding-top: 5px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.8);
	overflow:hidden;
}

.pengumuman-list{
	padding: 0;
}

.pengumuman-list > li{
	display: inline;
	list-style: none;
	color: #FFF;
	vertical-align: middle;
	margin-right: 5px;
}