@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,500');
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#333;
	transition: background-color 0.5s ease, padding 0.5s ease;
}

html, body{
	width: 100%;
	max-width: 100%;
	height: 100vh;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #34495E;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	line-height: initial;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

#wrapper{
	position: absolute;
	width: 100%;
	max-width: 100%;
}

#top-menu{
	position: fixed;
	width: 100%;
	z-index: 9999;
}

#top-menu > .navbar{
	height: auto;
	padding: 50px;
	padding-top: 20px;
	padding-bottom: 0;
	border-radius: 0;
	border: none;
	background-color: transparent;
	color: #FFF;
}

#top-menu > .scrolled{
	background-color: rgba(255,255,255,1);
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#top-menu > .scrolled *{
	color: #333!important;
}

#top-menu > .navbar .container-fluid{
	padding: 0;
}

#top-menu .navbar-brand{
	margin: 0;
	font-weight: 700;
	font-size: 28px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
}

#top-menu .nav > li > a{
	color: #fff;
	font-weight: 300;
	letter-spacing: .5px;
	font-weight: 500;
}

@media(max-width: 992px){
	#top-menu > .navbar{
		padding-left: 45px;
	}
}
@media(max-width: 768px){
	#top-menu > .navbar{
		padding-left: 35px;
	}

	#top-menu .navbar-brand{
		font-size: 22px;
	}
}

.section{
	position: relative;
}

/*SECTION 1*/

#sec1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	max-height: 100vh;
	padding: 65px;
	padding-top: 100px;
	background-color: rgba(255,255,255,.5);
	background-image: url('http://2.bp.blogspot.com/-9ioW0RhqnYU/VfNdcb8XOpI/AAAAAAAA8Lc/T3EwNREtlVA/s1600/Antonio%2BRanieri.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
}

#sec1 *{
	color: #FFF;
}

#sec1 .article-wrapper{
	width: 50%;
	padding-top: 50px;
}

#sec1 .article-date{
	font-size:12pt;
	font-weight: 500;
	color: rgba(255,255,255,.6);
}

#sec1 .article-headline{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 36pt;
	line-height: 45px;
	margin-top: 10px;
	margin-bottom: 25px;
}

#sec1 .article-overview, #sec1 .article-overview b{
	font-size: 14pt;
	font-weight: 300;
	line-height: 25px;
}

#sec1 .article-overview b{
	font-weight: 500;
}

#sec1 .btn-line{
	border-width: 2px;
	font-weight: 300;
	margin-top: 20px;
	border-radius: 5px;
}

#sec1 .btn-line:hover{
	color: #333;
	border-color: transparent;
}

@media(max-width: 992px){
	#sec1{
		padding-left: 45px;
		padding-right: 45px;
	}

	#sec1 .article-wrapper{
		width: 75%;
	}

	#sec1 .article-headline{
		font-size: 30pt; 
	}
}
@media(max-width: 768px){
	#sec1{
		padding-left: 35px;
		padding-right: 35px;
	}

	#sec1 .article-wrapper{
		width: 100%;
	}

	#sec1 .article-headline{
		font-size: 30pt; 
	}
}

/*SECTION 2*/
#sec2{
	padding: 40px 35px;
}

.box{
	width: 100%;
	padding: 20px;
	background-color: #FFF;
	border-radius: 3px;
}

.row.no-gut{
	margin-left: 0;
	margin-right: 0;
}

.row.no-gut > [class*="col-"]{
	padding: 10px 30px;
	background-color: #FFF;
	border-radius: 3px;
}

.row.match-height{
	display: flex;
	flex-wrap: wrap;
}

.box-blue{background-color: #104360;color: #FFF}
.box-yellow{background-color: yellow;color: #FFF}
.box-purple{background-color: #684958;color: #FFF}

.news-img-big{
	display: inline-block;
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 25px;
	object-fit: cover;
	object-position: center center;
}

.news-date-big{
	font-weight: 500;
	color:#777;
}

.news-title-big{
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news-headline-big{
	font-weight: 300;
}

.news-list > div{
	margin-bottom: 25px;
	padding-right: 0;
}

.news-img{
	display: inline-block;
	width: 125px;
	height: 125px;
	margin-right: 20px;
	float: left;
	object-fit: cover;
	object-position: center center;
}

.news-date{
	font-size: 8pt;
	color:#777;
	font-weight: 500;
}

.news-title{
	font-size: 12pt;
	line-height: 17px;
	margin-bottom: 5px;
}

.news-headline{
	font-weight: 300;
	font-size: 10pt;
}

.widget-title{
	display: block;
	text-transform: uppercase;
	color: #AAA;
}

.widget-title{
	margin-bottom: 10px;
}

.widget{
	padding-left: 20px;
	padding-right: 0px;
}

.widget-picbox img{
	width: 100%;
	object-fit: cover;
	object-position: center center;
}

.widget-list li{
	list-style: none;
}

.widget-list > li > a{
	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	border-bottom: 1px #777 dashed;
	text-transform: uppercase;
	font-size: 11pt;
	font-weight: 300;
}

.widget-list > li > a:hover{
	background-color: #CCC;
}

.widget-list > li > a:before{
	content: "» ";
}

#sec-banner{
	padding: 25px 35px;
}

.banner{
	width: 100%;
}

#sec3{
	padding: 25px 35px;
}

.galeri-box{
	display: flex;
	flex-wrap: nowrap;
}

.galeri-box img{
	height: 80px;
	flex-grow: 1;
	object-fit: cover;
	object-position: center center;
	margin-left: 5px;
	margin-right: 5px;
}

.agenda-list li{
	display: block;
	list-style: none;
	border-bottom: 1px #ccc solid;
	padding-top: 10px;
	padding-bottom: 15px;
}

.agenda-date{
	font-size: 9pt;
	color:#777;
}

.agenda-desc{
	display: block;
	font-size: 12pt;
	line-height: 18px;
}

#sec-footer{
	padding: 50px;
	padding-bottom: 30px;
	background-color: #333;
}

.sitemap{
	padding-left: 25px;
	margin-bottom: 20px;
}

.sitemap > li{
	display: block;
	list-style: none;
	font-weight: 300;
	font-size: 9pt;
	color: #FFF;
}

.sitemap > li > a{
	color: #FFF;
}

.sitemap > li > .fa{
	display: inline-block;
	color: #FFF!important;
	font-size: 16pt;
	margin-right: 10px;
	margin-top: 10px;
}

.sitemap-title *{
	margin-bottom: 8px;
	font-size: 12pt;
}

.copyright{
	display: block;
	clear: both;
	width: 100%;
	text-align: left;
	padding-top:10px;
	font-weight: 300;
	border-top: 1px #CCC solid;
}

.copyright, .copyright *{
	color: #FFF;
}